# 빌드 결과물
*.exe
*.obj
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.idb

# Visual Studio 관련
.vscode/
.vs/
*.suo
*.user
*.vcxproj.user
*.VC.db
*.VC.opendb
*.ipch/
*.cache/
*.tlog/
*.aps
*.ncb
*.opendb
*.sdf

# 로그, 임시 파일
*.log
*.tmp

# 기타 임시/백업 파일
*.bak
*.old
*.orig
*.db